<!-- @namespace GamesController -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div>
                <md-button ng-click="$ctrl.create($event)" class="md-raised md-primary no-margin-v">
                    Create Game
                </md-button>
            </div>
        </div>
        <div class="col-lg-12">
            <md-list ng-cloak ng-repeat="game in $ctrl.gamesList track by $index" class="well well-sm">
                <md-subheader class="md-no-sticky">
                    <div style="position: absolute; right: 0; top: 0; margin-top: -16px; margin-right: -16px;">
                        <md-button ng-show="game.status === 2" ng-click="$ctrl.randomPlayers(game)" class="md-icon-button">
                            <md-icon>autorenew</md-icon>
                        </md-button>
                        <md-menu md-position-mode="target-right target" ng-show="game.players.length < 4">
                            <!-- Trigger element is a md-button with an icon -->
                            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open sample menu">
                                <md-icon>group_add</md-icon>
                            </md-button>
                            <md-menu-content>
                                <md-menu-item ng-repeat="player in $ctrl.playersList">
                                    <md-button aria-label="add player" ng-click="$ctrl.addPlayer(game, player._id)" ng-bind="player.displayName"></md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                        <md-button ng-show="$ctrl.addPlayer.show(game)" ng-click="$ctrl.addPlayer(game)" class="md-icon-button">
                            <md-icon>person_add</md-icon>
                        </md-button>
                        <md-input-container ng-show="game.status === 2" style="margin-bottom: 0; margin-top: -7px;">
                            <md-select aria-label="" ng-model="game.wins">
                                <md-option ng-repeat="item in [10,9,8,7,6,5,4,3,2,1]" value="{{item}}">
                                    {{item}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-button ng-show="game.status === 2" ng-click="$ctrl.play(game)">play</md-button>
                    </div>
                    <div ng-show="game.status === 3" class="pull-right">Wins: {{game.wins}}</div>
                    <strong>{{game.name}} </strong>
                    Created by {{game.createdBy.displayName}} {{game.date | date:"MM/dd/yyyy 'at' h:mma"}}
                </md-subheader>

                <md-list-item ng-show="!game.teams.length" ng-repeat="player in game.players track by $index" ng-click="">
                    <img alt="" ng-src="{{player.image || 'http://icons.iconarchive.com/icons/femfoyou/angry-birds/1024/angry-bird-icon.png'}}" class="md-avatar" />
                    <p>{{player.displayName}}</p>
                </md-list-item>

                <!-- TODO -->
                <div class="row" ng-show="game.teams.length">
                    <div class="col-lg-5">
                        <md-list ng-click="$ctrl.addScore(game._id, game.teams[0]._id)" class="team-blue">
                            <md-list-item ng-repeat="player in game.teams[0].players track by $index">
                                <img alt="" ng-src="{{player.image || 'http://icons.iconarchive.com/icons/femfoyou/angry-birds/1024/angry-bird-icon.png'}}" class="md-avatar" />
                                <p>{{player.displayName}} <b>(W: {{player.wins}}, L: {{player.losses}})</b></p>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div class="col-lg-2 text-center text-capitalize">
                        <div class="h3">VS</div>
                        <div class="h3">{{game.teams[0].scores}} : {{game.teams[1].scores}}</div>
                    </div>
                    <div class="col-lg-5">
                        <md-list ng-click="$ctrl.addScore(game._id, game.teams[1]._id)" class="team-red">
                            <md-list-item  ng-repeat="player in game.teams[1].players track by $index">
                                <img alt="" ng-src="{{player.image || 'http://icons.iconarchive.com/icons/femfoyou/angry-birds/1024/angry-bird-icon.png'}}" class="md-avatar" />
                                <p>{{player.displayName}} <b>(W: {{player.wins}}, L: {{player.losses}})</b></p>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>

                <md-divider></md-divider>
            </md-list>
        </div>
    </div>
</div>