<!-- @namespace ProfileController -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form name="profileForm" ng-submit="$ctrl.update($ctrl.profile)">
                <md-input-container class="md-block">
                    <label>Display Name</label>
                    <input ng-model="$ctrl.profile.displayName">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Image</label>
                    <input ng-model="$ctrl.profile.image">
                </md-input-container>
                <div class="text-right">
                    <md-button class="md-raised md-primary" type="submit">save</md-button>
                </div>
            </form>
        </div>
    </div>
</div>