<md-dialog aria-label="Create Game" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Create Game</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block no-margin">
                    <label>Name</label>
                    <input ng-model="game.name">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="create(game)" style="margin-right:20px;">
                Create
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>